<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overflow</title>
    <style>
      .box {
        border: 10px solid orange;
        width: 150px;
        height: 150px;
        overflow: hidden auto; /* It's a shorthand syntax for `overflow-x` and `overflow-y` */
      }
    </style>
  </head>
  <body>
    <div class="box">
      Lorem ipsum dolor sit amet conssecteturconssectetur adipisicing elit.
      Similique praesentium numquam nostrum enim rem qui, possimus at veritatis
      non sunt architecto sequi perspiciatis explicabo esse facilis laboriosam
      cum magnam perferendis consequuntur beatae labore repellat voluptates. A
      aspernatur consectetur adipisci suscipit error qui, illo illum eum quas,
      quo sit sint at.
    </div>
  </body>
</html>
